Orientation

<h1>First Class - 01/12/24</h1>

In [ ]:
print('Hello World')
print("hi")
print('hi' + 'hello')
print('hi' + 'hello', end=" nothing")

Hello World
hi
hihello
hihello nothing

Two Types of functions:
1. user defined
2. Library Function.

Data Type:

1.   Numeric - 1,2,3 (int, Float, Double)
2.   String
3.   List
4.   Tuple
5.   Dictionary
6.   Files
7.   Modified Data Type

<h1>Second Class</h1>
(I missed that one)

In [ ]:
x=1
y=2
print(x+y)

x += 3
print (x)

3
4

<h1>Third Class - 09/12/24</h1>
Conditionals

In [ ]:
a = (int) (input('Enter the mark: '))
if a>=80 and a <= 100:
    print('A')
elif a>=60 and a <= 79:
    print('B')
elif a>=40 and a <= 59:
    print('C')
elif a>=0 and a <= 39:
    print('F')
else: print('Invalid Input')

Enter the mark: 45
C

In [ ]:
a = (int) (input())
b = (int) (input())
c = (int) (input())
if a==b and a==c and b==c:
    print('somobahu')
elif a==b and a!=c and b!= c:
    print('Somodhibahu')
elif a!=b and a!=c and b==c:
    print('Somodhibahu')
elif a!=b and a==c and b!=c:
    print('Somodhibahu')
else: print('bishomobahu')

25
45
45
Somodhibahu

In [ ]:
a = (int) (input())
b = (int) (input())
c = (int) (input())
if a==b and a==c and b==c:
      print('somobahu')
elif a==b or a==c or b==c:
      print('Somodhibahu')
else: print('bishomobahu')

12
23
1
bishomobahu

In [ ]:
a = (int) (input())
b = (int) (input())
c = (int) (input())
if a+b>c and b+c>a and c+a:
    if a==b and a==c and b==c:
        print('somobahu')
    elif a==b or a==c or b==c:
        print('Somodhibahu')
    else: print('bishomobahu')
else: print('Not a Triangle')

45
46
13
bishomobahu

<h1>4th Class - 11/12/24</h1>

In [ ]:
#Leap Year
a = (int) (input('Enter the year:'))
if (a%4==0 and a%100==1) or (a%400==0):
  print("Leap year")
else: print('Not a leap year')

Enter the year:2000
Leap year

In [ ]:
#Loop (for)
#Tke numbers and make average

num=(int) (input('Total number:'))
sum=0
for x in range(num):
  add =(int) (input())
  sum= sum+add
avg= sum/num
print(avg)

Total number:3
150
250
200
200.0

In [ ]:
#while need to be cheecked
totalnumber = (int) (int())
kototomo = 0
sum =0

while kototomo < totalnumber:
  Number =  (int) (input())
  sum= sum+Number
  kototomo= kototomo+1
avg = sum/totalnumber
print(avg)

In [ ]:
#Check Leap year

lower= (int) (input('Starting Year'))
upper= (int) (input('Ending Year'))

for x in range(lower, upper,1):

  if (x%4==0 and x%100!=0) or (x%400==0):
    print(x)

Starting Year2000
Ending Year2024
2000
2004
2008
2012
2016
2020

<h1>5th Class - 13/12/24</h1>

In [ ]:
#nested loop

for i in range(10):
  for j in range(5):
    print(i," ", j)

0   0
0   1
0   2
0   3
0   4
1   0
1   1
1   2
1   3
1   4
2   0
2   1
2   2
2   3
2   4
3   0
3   1
3   2
3   3
3   4
4   0
4   1
4   2
4   3
4   4
5   0
5   1
5   2
5   3
5   4
6   0
6   1
6   2
6   3
6   4
7   0
7   1
7   2
7   3
7   4
8   0
8   1
8   2
8   3
8   4
9   0
9   1
9   2
9   3
9   4

In [ ]:
# checking prime

num =(int) (input('enter the number:'))
count=0
for i in range(2,num):
  if num%i==0:
    count= count+1
if count == 0:
    print("prime number")
else: print("Not Prime number")

enter the number:35
Not Prime number

In [ ]:
# checking prime

num =(int) (input('enter the number:'))
count=1
for i in range(2,num):
  if num%i==0:
    count= 0
    break
if count == 1:
    print("prime number")
else: print("Not Prime number")

enter the number:35
Not Prime number

In [ ]:
start= (int) (input('First Number'))
end= (int) (input('Second Number'))

for i in range(start, end+1):
  if i == 1:
    continue
  count=1
  for j in range(2,i):
    if i%j==0:
      count= 0
      break
  if count == 1:
      print(i)

First Number2
Second Number12
2
3
5
7
11

<h3>Data Type List</h3>

In [ ]:
a= [20, 14 ,25, 22,15]
b= list((10, 14 ,25, 22,15))
c = [0] * 10

print(a)
print(b)
print(c)

a.append(10)
b.insert(0,5)

print(a)
print(b)

c.extend(a)
print(c)

[20, 14, 25, 22, 15]
[10, 14, 25, 22, 15]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[20, 14, 25, 22, 15, 10]
[5, 10, 14, 25, 22, 15]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 20, 14, 25, 22, 15, 10]

In [ ]:
A =[[3, 5, 9],
    [5, 6, 6],
    [12, 6, 5]]

B =[[6, 3, 5],
    [2, 3, 4],
    [26, 7, 8]]

C =[[0, 0, 0],
    [0, 0, 0],
    [0, 0, 0]]

for r in range(len(A)):
  for c in range(len(A[r])):
    print(A[r][c])

#print(A)
#print(B)
#print(C)

3
5
9
5
6
6
12
6
5

In [ ]:
A =[[3, 5, 9],
    [5, 6, 6],
    [12, 6, 5]]

B =[[6, 3, 5],
    [2, 3, 4],
    [26, 7, 8]]

C =[[0, 0, 0],
    [0, 0, 0],
    [0, 0, 0]]

for r in range(len(A)):
  for c in range(len(A[r])):

    #print(A[r][c])

for r in range(len(A)):
    for c in range(len(A[r])):
    C[r][c] = A[r][c]+ B[r][c]
  print(C)
Incomplete.........

IndentationError: expected an indented block after 'for' statement on line 14 (<ipython-input-14-c051c180c046>, line 18)

<h1>6th Class - 14/12/24</h1>

Tuples and Dictionaries.

Tuple's data is not changable.
List data changable

In [ ]:
#tuple
t1= ('a', 'b', 'c')
t2 = tuple("xyz")
t3= t1+t2
print(t3)

#Dictionaries

A = {"name1": "Raju", "name2": "Shaju"}
print(A["name1"])
B= dict()
B["color"] = "red"
B["color"] = "white"
print(B)

('a', 'b', 'c', 'x', 'y', 'z')
Raju
{'color': 'white'}

In [ ]:
info = {"101": {"name": "A", "add": "Dhaka", "CGPA": 3.96},
        "102": {"name": "B", "add": "Sylhet", "CGPA": 3.40},
        "103": {"name": "C", "add": "Dhaka", "CGPA": 3.45},
        "104": {"name": "D", "add": "Dhaka", "CGPA": 4.00},
        "105": {"name": "E", "add": "Comilla", "CGPA": 2.56},
        "106": {"name": "F", "add": "Ctg", "CGPA": 4.00},
        "107": {"name": "G", "add": "Sylhet", "CGPA": 2.96},
        "108": {"name": "H", "add": "Mymensing", "CGPA": 3.26},
        "109": {"name": "I", "add": "Mymensing", "CGPA": 3.56},
        }
syl=0
dha=0
com=0
my=0

for id in info:
  if info[id]["add"] == "Sylhet":
    syl=syl+1
  elif info[id]["add"] == "Dhaka":
    dha=dha+1
  elif info[id]["add"] == "Comilla":
    com=com+1
  elif info[id]["add"] == "Mymensing":
    my=my+1

print("Sylhet: ",syl)
print("Dhaka: ",dha)
print("Comilla: ",com)
print("Mymensing: ",my)

Sylhet:  2
Dhaka:  3
Comilla:  1
Mymensing:  2

<h1>7th Class - 18/12/24</h1>
Functions

Pass by value- Function transfer value
Pass by reference.

In [ ]:
def circle_area(rad):
  rad =3.14*(rad*rad)
  return rad

In [ ]:
rad = (int) (input("Enter Enter Radius"))

dd = circle_area(rad)

print(dd)

Enter Enter Radius6
113.04

In [ ]:
def leap_year(yy):
  if (yy%4==0 and yy%100==1) or (yy%400==0):
    return 1
  else: return 0

In [ ]:
yy = (int) (input("Enter Enter the year"))

result = leap_year(yy)

print(result)

Enter Enter the year2000
1

<h1>8th Class - 06/01/24</h1>

Function

Local scope and global scope

recursion?

In [ ]:
def find_ave(data):
  sum=0

  for x in data:
    sum= sum+x

  avg= sum/len(data)
  return avg

result = find_ave([12,25,36,25])

print(result)

24.5

In [ ]:
def numbers(data):
  data(12,25,36)
  return data
  def num(dd):
    dd = data
    print(data)
  print(num())

In [ ]:
def tri_recursion(k):
  if(k>0):
    result = k+tri_recursion(k-1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [ ]:
def sum(b,c):
  a=b+c
  print(a)

sum(2,3)

5

In [ ]:
def my_rec(x):
  if x<10:
    result = print("Yout input", +x," is invalid")
  else: result = print("Your input", +x, "is Valid")
  return result

In [ ]:
number = (int) (input("Enter your Value: "))
my_rec(number)

Enter your Value: 23
Your input 23 is Valid

In [ ]:
def fact(n):
  if n==1:
    return 1
  else:
    return n*fact(n-1)

In [ ]:
n = (int) (input("Enter your Value: "))
result = fact(n)
print(result)

Enter your Value: 4
24

<h1>9th Class - 08/01/24</h1>
Modules and Packages.

<h1>11th Class - 11/01/24</h1>

Exception Hendling

syntex error,
logical error,
Mathematical error,

In [ ]:
#Try And except

try:
  print(x)
except:
  print("An exception occurred")

An exception occurred

Lindin<br>
Git Hub<br>
online Market (fiverr)<br>
CV<br>

Accounts need to be opened.

(variable encapsulation should be checked)

In [ ]:
#file
f = open("/content/test.txt", "r")
print(f.read())
#print(f.readline())
#for line in f:
#  print(line)
f.close()

hello is a text message

In [ ]:
f = open("/content/write.txt", "w")
f.write("This is the write command")
f.write("It allows us to write in a particular file")
f.close()